@use '../../../../../styles/utils/placeholders';
@use '../../../../../styles/utils/functions' as fn;
@use '../../../../../styles/utils/mixins' as mx;

.bottomPart {
  display: flex;
  align-items: center;
  gap: 16px;

  user-select: none;

  .location,
  .rating {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.topPart {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  gap: 12px;

  h2 {
    @extend %main-title;
  }
  .price {
    @extend %main-title;
    margin-left: auto;
  }
}
.rating {
  text-decoration: underline;
  cursor: pointer;
}

.svgRating {
  fill: fn.get-color('rating');
}

.svgLocation {
  fill: transparent;
  stroke: fn.get-color('dark-primary');
}

.hearth {
  stroke: fn.get-color('dark-primary');
  fill: transparent;
  cursor: pointer;

  @include mx.ease('fast', fill, stroke);
}

.favorite {
  stroke: fn.get-color('accent-primary');
  fill: fn.get-color('accent-primary');
}

.favoriteText {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: fn.get-color('dark-secondary');
  padding: 2px 8px;
  margin-left: 40px;
  cursor: pointer;
  background-color: fn.get-color('light-secondary');

  @include mx.border(10px);
  @include mx.ease('fast', color);
  &:hover .inFavoritePage {
    stroke: fn.get-color('accent-primary');
    fill: fn.get-color('accent-primary');
  }

  &:hover {
    color: fn.get-color('accent-primary');
  }
}

.favoriteTextCatalog {
  display: flex;
  align-items: center;
  background-color: fn.get-color('light');
}
.inFavoritePage {
  stroke: fn.get-color('dark-secondary');
  fill: fn.get-color('dark-secondary');
  @include mx.ease('fast', stroke, fill);
}
