@use '../../../styles/utils/placeholders';
@use '../../../styles/utils/functions' as fn;
@use '../../../styles/utils/mixins' as mx;

.formWrapper {
  @extend %section-frame;

  position: relative;
  @include mx.border;

  width: 448px;

  .errorWrapper {
    position: absolute;
    left: 0;
    top: -130px;
    min-height: 40px;
    width: 448px;
    padding: 10px;
    background-color: fn.get-color('light');
    overflow-y: auto;
    overflow: hidden;

    @include mx.border(10px);
    border-color: fn.get-color('accent-primary');
  }
}
.errorText {
  color: fn.get-color('accent-primary');
}
.rentForm {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .infoWrapper {
    user-select: none;
    p {
      margin-top: 4px;
      color: fn.get-color('dark-secondary');
    }
  }
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;

  label {
    display: flex;
    flex-direction: column;

    input,
    textarea {
      @extend %inputs-text;

      color: fn.get-color('dark-secondary');
      background-color: fn.get-color('light-secondary');

      padding: 18px;
      border-radius: 10px;

      &::placeholder {
        opacity: 0.8;
      }
    }

    textarea {
      resize: none;
      height: 114px;
    }
  }
}
