@use '../../styles/utils/placeholders';
@use '../../styles/utils/functions' as fn;
@use '../../styles/utils/mixins' as mx;

.button {
  @extend %accent-text;
  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  color: fn.get-color('light');

  height: 56px;
  max-width: 172px;
  min-width: 155px;
  border-radius: 50px;

  text-align: center;
  user-select: none;

  @include mx.ease('fast', background-color);
}

.accentBtn {
  padding: 16px 40px;
  background-color: fn.get-color('accent-primary');

  &:hover {
    background-color: fn.get-color('accent-primary-hover');
  }
}

.notAccentBtn {
  padding: 16px 32px;
  background-color: fn.get-color('transparent');
  color: fn.get-color('dark-primary');
  margin: 0 auto;
  @include mx.border(100px);
  @include mx.ease('fast');
  &:hover {
    border-color: fn.get-color('accent-primary');
    color: fn.get-color('dark-secondary');
  }
}
