@use 'sass:map';
@use 'sass:list';
@use 'variables' as var;
@use 'functions' as fn;

@mixin media-rules($screen) {
  @if $screen == tablet {
    @media screen and (min-width: $tablet) {
      @content;
    }
  } @else if $screen == desktop {
    @media screen and (min-width: $desktop) {
      @content;
    }
  }
}

@mixin mq($bp: sm, $type: min, $is-retina: false) {
  @if map.has-key(var.$breakpoints, $bp) {
    $width: map.get(var.$breakpoints, $bp);

    @if type == max {
      $width: $width - 0.02px;
    }

    @media only screen and (#{$type}-width: $width) {
      @if $is-retina {
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          @content;
        }
      } @else {
        @content;
      }
    }
  } @else {
    @error "";
  }
}

@mixin frame($width, $is-circle: false, $border: 10px, $height: $width) {
  width: $width;
  height: $height;

  @if $is-circle {
    border-radius: 50%;
    overflow: hidden;
  }

  img {
    border-radius: $border;
    object-fit: cover;
    object-position: center right;
  }
}

@mixin border($radius: 10px) {
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: $radius;
}

@mixin scroll-bar($color, $width: 14px) {
  &::-webkit-scrollbar {
    width: $width;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 104px;
    @include ease('fast', background-color);
    &:hover {
      background-color: rgba(fn.get-color('accent-primary'), 0.2);
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(fn.get-color($color), 0.4);
    background-clip: content-box;
    border: 5px solid transparent;
    border-radius: 100px;
    height: 80%;
    @include ease('fast', background-color);
    &:hover {
      background-color: rgba(fn.get-color($color), 0.9);
    }
  }
}

@mixin ease($ease, $properties...) {
  @if map.has-key(var.$easings, $ease) {
    $ease: map.get(var.$easings, $ease);

    transition: $ease;
  } @else {
    @warn "The variable $ease is not defined";
  }

  @if list.length($properties) > 0 {
    transition-property: $properties;
  }
}
