@use 'mixins' as mx;

%main-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}
%section-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

%main-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

%accent-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}

%vehicle-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
}

%details {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
}

%details-accent {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.42;
}

%inputs-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.25;
}

%section-frame {
  padding: 16px;

  @include mx.mq('lg') {
    padding: 24px;
  }
}

%hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
