@use '../../styles/utils/placeholders';
@use '../../styles/utils/functions' as fn;
@use '../../styles/utils/mixins' as mx;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  background-color: fn.get-color('overlay');
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.modal {
  top: 10px;
}

.heroModal {
  position: relative;
  border-radius: 20px;
  background-color: fn.get-color('light');
  padding: 20px;
}

.modalContentWrapper {
  display: flex;
  flex-direction: column;
  max-width: 982px;
  max-height: calc(100dvh - 40px);
  gap: 24px;
  padding: 40px;
  padding-right: 15px;
  border-radius: 20px;
  background-color: fn.get-color('light');
}

.scrolledContent {
  overflow: hidden;
  padding-right: 8px;
  overflow-y: auto;
  @include mx.scroll-bar('scroll', 'light', 8);
}

.camperDescription {
  color: fn.get-color('dark-secondary');
}
