@use '../../../../../styles/utils/placeholders';
@use '../../../../../styles/utils/variables' as var;
@use '../../../../../styles/utils/functions' as fn;
@use '../../../../../styles/utils/mixins' as mx;

.label {
  @extend %accent-text;
  color: fn.get-color('dark-secondary-opacity');
  position: relative;

  & > .pinSvg {
    position: absolute;
    top: 54%;
    left: 18px;
    fill: transparent;
    stroke: fn.get-color('dark-primary');
  }
}

.locationInput {
  width: 100%;
  height: 56px;
  color: fn.get-color('dark-primary');
  outline: transparent;
  background-color: fn.get-color('light-secondary');
  padding: 18px;
  padding-left: 44px;
  margin-top: 8px;

  border-radius: 10px;

  &::placeholder {
    color: fn.get-color('dark-secondary');
  }

  &:placeholder-shown ~ .pinSvg {
    stroke: fn.get-color('dark-secondary');
  }
}
