@use '../../../styles/utils/placeholders';
@use '../../../styles/utils/variables' as var;
@use '../../../styles/utils/functions' as fn;
@use '../../../styles/utils/mixins' as mx;

.navigationList {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 16px;
  width: 100%;
  overflow: hidden;

  //logo
  li:first-child {
    margin-right: auto;
    .navigationItem_link {
      padding: 0;
    }
  }

  @include mx.mq('lg') {
    gap: 30px;
  }
}

// logo

.logoWrapper {
  position: relative;
}

.logo {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  text-align: end;
  font-size: 36px;
  width: 100px;
  background-color: fn.get-color('accent-primary');
  color: fn.get-color('light');
  border-radius: 50px;
  padding: 2px 12px;
  user-select: none;
}

.logoDot {
  position: absolute;
  left: 10px;
  top: 52%;
  transform: translateY(-50%);
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;

  background-color: fn.get-color('light');
  height: 28px;
  width: 26px;
}

.navigationItem_link {
  @extend %accent-text;
  position: relative;
  display: inline-block;
  padding: 30px 4px;
  color: fn.get-color('dark-secondary-opacity');

  user-select: none;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 28px;
    border: 8px solid fn.get-color('accent-primary');
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: transform 0.3s ease;
    transform: translateY(100%);
    @include mx.ease('fast', transform, background-color);
  }

  &:hover::before,
  &:active::before,
  &:focus::before {
    transform: translateY(44%);
  }

  &:hover,
  &:active,
  &:focus {
    color: fn.get-color('dark-primary');
  }

  &:global(.active) {
    color: fn.get-color('dark-primary');

    &::before {
      transform: translateY(44%);
    }
  }

  @include mx.mq('lg') {
    font-size: 20px;
  }
}
