@use '../../../styles/utils/placeholders';
@use '../../../styles/utils/variables' as var;
@use '../../../styles/utils/functions' as fn;
@use '../../../styles/utils/mixins' as mx;

.camperListWrapper {
  grid-area: list;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.camperList {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  gap: 32px;

  min-height: calc(100dvh - 100px);
}
