@use '../utils/variables' as var;

$fonts: var.$font-weights;

@each $key, $value in $fonts {
  @font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-#{$key}.woff2') format('woff2'),
      url('../assets/fonts/Inter-#{$key}.woff') format('woff'),
      url('../assets/fonts/Inter-#{$key}.ttf') format('truetype');
    font-weight: $value;
    font-style: normal;
    font-display: swap;
  }
}

@font-face {
  font-family: 'Oswald';
  src: url('../assets/fonts/Oswald-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
